body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    background-color: #637074;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div{
    text-align: center;
    font-size: 30px;
}
main{
    background-color: #aab9cf;
    margin-bottom: 100px;
}
footer{
    background-color: #212227;
    color: aliceblue;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer-itens{
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    font-size: 20px;
    align-items: center;
    padding-right: 10px;
}
.img-link{
    height: 40px;
}

#minha-foto{
    width: 300px;
    border-radius: 100%;
    margin: 20px;
}

.sobre-mim{
    margin: 100px;
    display: flex;
    justify-content: center;
}
#texto-sobre-mim{
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    font-size: 20px;
    border-radius: 50px;
    background-color: #8693ab;
}

.contato{
    padding-bottom: 100px;
}

.items{
    display: flex;
    justify-content: center;
    gap: 10px;
    

    width: 1000px;  
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 100px;
}

.item{
    min-height: 200px;
    width: 300px;
    border: 2px solid black;
    padding-top: 50px;
}
.item-img{
    width: 70%;
}
#img-css{
    width: 150px;
}
.item-txt{
    font-size: 22px;
}