header{
    display: flex;
    justify-content: end;
    gap: 30px;
    padding-right: 100px;
    background-color: #414535;
    color: #f2e3bc;
}

body{
    margin: 0;
}

#foto{
    border-radius: 100px;
}
.sobre-mim{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
}

.sobre-mim-texto{
    padding: 30px;
    text-align: center;
    border: 1px solid #414535;
    border-radius: 250px;
    max-width: 500px;
    background-color: #c19875;
}
p{
    color: #f2e3bc;
    font-size: 20px;
}

.item{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}