:root{
    --cor1: #9db5b2;
    --cor2: #a2c5ac;
    --cor3: #d3d5d4;
}
header{
    background-color: var(--cor1);
    color: var(--cor3);
    
    position: fixed;
    top:0;
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    padding-right: 30px;
    gap: 50px;
}

body{
    margin: 0;
    background-color: var(--cor3);
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 25px;
    border-top: 1px solid black;
    background-color: var(--cor2);

    display: flex;
    justify-content: end;
    gap: 20px;
}
.titulo{
    text-align: center;
}
#foto{
    width: 300px;
    border: 5px solid black;
    border-radius: 100px;
}
.sobre-mim{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 200px 0px;
}
.descricao{
    max-width: 600px;
    border: 3px solid black;
    border-radius: 50px;
    padding: 20px;
    background-color: var(--cor2);
}
.items{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.item{
    min-height: 300px; /* ALTURA */
    width: 300px; /* LARGURA */
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    background-color: var(--cor2);
}

.formulario{
    display: flex;
    justify-content: center;
}

#logo-html, #logo-css, #logo-js{
    height: 150px;
}
textarea{
    resize: none;
    width: 500px;
    height: 150px;
    background-color: var(--cor2);
    border: solid black;
}
input{
    width: 243px;
    background-color: var(--cor2);
    border: solid black;
}

textarea:focus, input:focus{
    background-color: var(--cor1);
}

button{
    background-color: var(--cor2);
    cursor: pointer;
}

button:hover{
    background-color: var(--cor1);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}