:root{
    --cor1: #9db5b2;
    --cor2: #a2c5ac;
    --cor3: #d3d5d4;
}
header{
    display: flex;
    justify-content: end;
    gap: 50px;
    padding: 0px 20px;
    background-color: var(--cor1);
    color: var(--cor3);
}
body{
    margin: 0;
    background-color: var(--cor3);
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    background-color: var(--cor2);
}
.titulo{
    text-align: center;
}
#foto{
    width: 300px;
    border: 5px solid black;
    border-radius: 100px;
}
.sobre-mim{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 200px 0px;
}
.descricao{
    max-width: 600px;
    border: 3px solid black;
    border-radius: 50px;
    padding: 20px;
    background-color: var(--cor2);
}
.items{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.item{
    width: 300px; /* LARGURA */
    height: 300px; /* ALTURA */
    border: 1px solid black;
    text-align: center;
    background-color: var(--cor2);
}
#logo-html, #logo-css, #logo-js{
    height: 150px;
}
textarea{
    resize: none;
    width: 340px;
    height: 150px;
    background-color: var(--cor2);
    border: solid black;
}
input{
    background-color: var(--cor2);
    border: solid black;
}
button{
    background-color: var(--cor1);
    color: var(--cor3);
}