:root{
    --cor1: #6A8EAE;
    --cor2: #9BD1E5;
    --cor3: #D1FAFF;
}

header{
    display: flex;
    justify-content: end;
    gap: 30px;
    padding-right: 100px;
    background-color: var(--cor1);
    color: var(--cor3);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 30px;
}


body{
    margin: 0;
    background-color: var(--cor3);
}

footer{
    height: 40px;
    background-color: var(--cor1);
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}


#foto{
    border-radius: 100px;
    box-shadow: 10px 10px 10px var(--cor1);
    transition: .3s;
}
#foto:hover{
    transform: scale(1.05);
}

.sobre-mim{

    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
}

.sobre-mim-texto{
    padding: 30px;
    text-align: center;
    border: 1px solid var(--cor1);
    border-radius: 250px;
    max-width: 500px;
    background-color: var(--cor2);
    box-shadow: 10px 10px 10px var(--cor1);
}
p{
    color: black;
    font-size: 20px;
}

.titulo{
    text-align: center;
}

.itens{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.item{
    font-size: 20px;
    width: 260px;
    height: 260px;
    border: 1px solid var(--cor1);
    background-color: var(--cor2);
    padding: 20px;

    box-shadow: 10px 10px 10px var(--cor1);

    transition: .2s;
}

.item:hover{
    transform: scale(1.05);
}

.formulario{
    background-color: var(--cor2);
    padding: 60px 0px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#nome, #assunto, #descricao, #botao{
    background-color: var(--cor3);
    border: 2px solid black;
    box-shadow: 10px 10px 10px var(--cor1);
}

#nome, #assunto{
    width: 200px;
}

#nome:focus, #assunto:focus, #descricao:focus{
    background-color: var(--cor2);
}
#botao:hover{
    background-color: var(--cor2);
}

#descricao{
    resize: none;
    width: 430px;
    height: 120px;
    
}

#botao{
    cursor: pointer;
    width: 150px;
}